# ~/.inputrc
# See readline(3readline) and `info rluserman' for more information.

set editing-mode vi
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
set show-all-if-ambiguous on
set visible-stats on
set mark-symlinked-directories on
set completion-ignore-case on
set bind-tty-special-chars on
set colored-stats on
set colored-completion-prefix on
set blink-matching-paren on
set skip-completed-text on
set completion-prefix-display-length 6
set show-all-if-unmodified on
set show-mode-in-prompt on
set vi-ins-mode-string ""
set vi-cmd-mode-string "#"
set enable-keypad on
set bell-style none 

# Basic editing
"\C-W": backward-kill-word
"\C-K": kill-word
"\C-U": kill-whole-line
"\C-Y": yank
"\C-D": delete-char
"\C-_": undo
"\C-A": beginning-of-line
"\C-E": end-of-line

# home/end
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e0H": beginning-of-line
"\e0F": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line

# page up/down
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# home/end
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# delete
"\e[3~": delete-char

# ctrl delete
"\e[3;5~": kill-word

# insert
"\e[2~": quoted-insert

# backspace
"\C-?": backward-delete-char
"\C-H": backward-delete-char

# cmd/alt-backspace
"\e\C-W": backward-kill-line
"\e\C-H": backward-kill-line
"\e\C-?": backward-kill-line

# arrows
# "\e[B": next-history
# "\e[A": previous-history
"\e[C": forward-char
"\e[D": backward-char
"\eOB": next-history
"\eOA": previous-history
"\eOC": forward-char
"\eOD": backward-char

#  ctrl arrows
"\e[5B": next-screen-line
"\e[5A": previous-screen-line
"\e[1;5B": next-screen-line
"\e[1;5A": previous-screen-line
"\eO5B": next-screen-line
"\eO5A": previous-screen-line
"\e0b": next-screen-line
"\e0a": previous-screen-line
"\e[5C": forward-word
"\e[5D": backward-word
"\e[1;5C": end-of-line
"\e[1;5D": beginning-of-line
"\eO5C": forward-word
"\eO5D": backward-word
"\e0c": forward-word
"\e0d": backward-word

# cmd arrows
"\e\e[B": history-search-forward
"\e\e[A": history-search-backward
"\e\e[C": end-of-line
"\e\e[D": beginning-of-line
"\e[1;4B": history-search-forward
"\e[1;4A": history-search-backward
"\e[1;4C": end-of-line
"\e[1;4D": beginning-of-line

# alt arrows
"\e0B": end-of-line
"\e0A": beginning-of-line
"\e[1;3B": end-of-line
"\e[1;3A": beginning-of-line
"\e0C": forward-word
"\e0D": backward-word
"\e[1;3C": forward-word
"\e[1;3D": backward-word
