*customization: color
*font: fixed

*faceSize: 10
*faceSize1: 6
*faceSize2: 8
*faceSize3: 9
*faceSize4: 10
*faceSize5: 12
*faceSize6: 18

xterm*loginShell: true
!xterm*renderFont: true
!xterm*faceName: Noto Mono Regular

xterm*boldFont: -misc-fixed-bold-r-normal-*-13-*-*-*-*-iso10646-1
xterm*font: -misc-fixed-medium-r-normal-*-13-*-*-*-iso10646-1
xterm*font1: -misc-fixed-medium-r-normal-*-6-*-*-*-*-iso10646-1
xterm*font2: -misc-fixed-medium-r-normal-*-8-*-*-*-*-iso10646-1
xterm*font3: -misc-fixed-medium-r-normal-*-10-*-*-*-*-iso10646-1
xterm*font4: -misc-fixed-medium-r-normal-*-13-*-*-*-*-iso10646-1
xterm*font5: -misc-fixed-medium-r-normal-*-18-*-*-*-*-iso10646-1
xterm*font6: -misc-fixed-medium-r-normal-*-20-*-*-*-*-iso10646-1
xterm*shiftFonts: true
xterm*wideChars: true
xterm*charClass: 37-38:48,43:48,45-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*sessionMgt: false

xterm*termName: xterm-16color

xterm*ttyModes: erase ^H
xterm*backarrowKey: true
xterm*backarrowKeyIsErase: false
!xterm*deleteIsDEL: true

xterm*metaSendsEscape: true
xterm*eightBitInput: false
xterm*eightBitOutput: true
xterm*eightBitControl: false

xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*scrollKey: true
xterm*scrollTtyOutput: false
xterm*highlightSelection: true
xterm*trimSelection: true
xterm*brokenSelections: false
xterm*i18nSelections: true

xterm*saveLines: 1000
xterm*waitForMap: true

xterm*VT100.geometry: 88x50
*VT100.titeInhibit: false
*VT100.tiXtraScroll: true

*VT100.colorMode: true
*VT100.boldMode: true
*VT100.colorAttrMode: false
*VT100.colorBDMode: false
*VT100.colorBD: rgb:00/00/00
*VT100.boldColors: false
*VT100.colorULMode: false
*VT100.colorUL: FF/99/00
*VT100.underLine: true
*VT100.dynamicColors: false
*VT100.foreground: rgb:00/00/00
*VT100.background: rgb:FF/FF/FF
! 0: black 00/00/00
*VT100.color0: rgb:00/00/00
! 1: red 102/00/00
*VT100.color1: rgb:66/00/00
! 2: green 00/51/00
*VT100.color2: rgb:00/33/00
! 3: brown 204/102/00
*VT100.color3: rgb:CC/66/00
! 4: blue 00/00/153
*VT100.color4: rgb:00/00/99
! 5: purple 102/00/102
*VT100.color5: rgb:66/00/66
! 6: cyan 102/153/204
*VT100.color6: rgb:66/99/CC
! 7: light gray 187/187/187
*VT100.color7: rgb:BB/BB/BB
! 8: dark gray 51/51/51
*VT100.color8: rgb:33/33/33
! 9: b. red 153/51/00
*VT100.color9: rgb:99/33/00
! 10: b. green 00/102/00
*VT100.color10: rgb:00/66/00
! 11: yellow 255/153/00
*VT100.color11: rgb:FF/99/00
! 12: b. blue 00/51/204
*VT100.color12: rgb:00/66/CC
! 13: b. purple 153/102/204
*VT100.color13: rgb:99/66/CC
! 14: b. cyan 00/153/255
*VT100.color14: rgb:00/99/FF
! 15: white 255/255/255
*VT100.color15: rgb:FF/FF/FF

*VT100.translations: #override\n\
    Ctrl<Key>Right: string(0x1b) string("[1;5C") \n\
    Ctrl<Key>Left: string(0x1b) string("[1;5D") \n\
    Ctrl<Key>Up: string(0x1b) string("[1;5A") \n\
    Ctrl<Key>Down: string(0x1b) string("[1;5B") \n\
    Meta<Key>Right: string(0x1b) string("[1;3C") \n\
    Meta<Key>Left: string(0x1b) string("[1;3D") \n\
    Meta<Key>Up: string(0x1b) string("[1;3A") \n\
    Meta<Key>Down: string(0x1b) string("[1;3B") \n\
    Ctrl<Key>BackSpace: string(0x17) \n

Xedit*international: true

